@inject IDeckService _deckService
@inject NavigationManager _navManager

<Modal Id="novo-deck-modal" Titulo="NOVO DECK">
    <ModalBody>
        <EditForm Model="@modelNovoDeck" OnValidSubmit="IncluirDeck">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="Nome">Nome</label>
                <InputText type="text" id="Nome" class="form-control" @bind-Value="modelNovoDeck.Nome" />
                <ValidationMessage For="() => modelNovoDeck.Nome" />
            </div>
            <div class="form-group">
                <label for="formato">Formato</label>
                <InputSelect class="form-control" name="formato" id="formato" @bind-Value="modelNovoDeck.Formato">
                    <option value="">Selecione</option>
                    <option value="standard">Standard</option>
                    <option value="future">Future Standard</option>
                    <option value="historic">Historic</option>
                    @*<option value="gladiator">Gladiator</option>*@
                    <option value="pioneer">Pioneer</option>
                    <option value="explorer">Explorer</option>
                    <option value="modern">Modern</option>
                    <option value="legacy">Legacy</option>
                    <option value="pauper">Pauper</option>
                    <option value="vintage">Vintage</option>
                    @*<option value="penny">Penny Dreadful</option>*@
                    <option value="commander">Commander</option>
                    @*<option value="oathbreaker">Oathbreaker</option>*@
                    <option value="brawl">Brawl</option>
                    <option value="historicbrawl">Historic Brawl</option>
                    <option value="alchemy">Alchemy</option>
                    @*<option value="paupercommander">Pauper Commander</option>*@
                    @*<option value="duel">Duel Commander</option>*@
                    @*<option value="oldschool">Old School 93/94</option>*@
                    @*<option value="premodern">Premodern</option>*@
                    @*<option value="predh">PreDH</option>*@
                </InputSelect>
                <ValidationMessage For="() => modelNovoDeck.Formato" />
            </div>

            <button type="submit" class="btn btn-primary mt-2">
                Criar
            </button>
        </EditForm>
    </ModalBody>
</Modal>

@code {
    private IncluiDeckViewModel modelNovoDeck = new();

    private async Task IncluirDeck()
    {
        var deckId = await _deckService.IncluirDeck(modelNovoDeck);
        _navManager.NavigateTo($"/decks/{deckId}");
    }

}
