$cor_primaria: #1E56E4;
$cor_secundaria: #65B868;

$cinza: #1C1E1F;

$preto: #091010;
$verde: #65B868;
$azul: #1E56E4;
$vermelho: #ED7066;
$branco: #fff;
$multicolor:#D8B96C;
$incolor: #CAC5C0;
$incomum: #91AFBF;
$rara: #FFD56D;
$mitica: #F37806;

