<footer class="bg-preto">
    <div class="container">
        Magic Easy Builder Deck é um conteúdo de fã não oficial permitido sob a política de conteúdo de fãs. Não aprovado/apoiado pela Wizards. Porções do material usado são propriedade da Wizards of the Coast. ©Wizards of the Coast LLC.

    </div>
</footer>

@code {

}
