@inherits LayoutComponentBase

<div class="page-container">
    <CascadingValue Value="this">
        <NavMenu />
        <div class="container">
            @Body
        </div>
        <Footer />
    </CascadingValue>
</div>

@code {
    public UsuarioAuthViewModel? UsuarioLogado { get; private set;  } = null;

    public void SetUsuarioLogado(UsuarioAuthViewModel? usuarioLogado)
    {
        UsuarioLogado = usuarioLogado;
    }

    public void RemoveUsuarioLogado()
    {
        UsuarioLogado = null;
    }

}
