@inject IUsuarioService UsuarioService
@inject NavigationManager NavManager

<nav class="navbar navbar-expand-md bg-preto">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="images/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            MAGIC EASY DECK BUILDER
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="textoNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="saiba-mais">Saiba mais</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="decks">Decks</NavLink>
                </li>
                <DispalyLogin />
            </ul>
        </div>
    </div>
</nav>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
