.carta {
    position: relative;
    width: 100%;

    img {
        width: 100%;
    }

    .flip-card {
        position: absolute;
        opacity: 0.60;
        background: white;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid #343242;
        display: block;
        height: 44px;
        width: 44px;
        cursor: pointer;
        top: 26%;
        right: 5%;
        z-index: 1000;

        &:hover {
            opacity: 1;
            transition: opacity .2s ease-out;
        }
    }

    &.back {
        &.flip img {
            animation: rotation 0.2s linear;
            transform: rotate(180deg);
        }

        button {
            animation: rotation 0.2s linear;
            transform: rotate(180deg);
            background-color: gray;
            border-color: white;

            svg path {
                fill: white;
            }
        }
    }

    &.front {
        &.flip img {
            animation: rotationReturn 0.2s linear;
        }

        button {
            animation: rotationReturn 0.2s linear;
        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
            
    }
}

@keyframes rotationReturn {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(360deg);
    }
}
