$cor-primaria: #5173CB;
$cor-primaria-contraste: #2254d1;
$cor-secundaria: #f72b1c;
$cor-secundaria-contraste: #F36B61;
$cor-terciaria: #65B868;
$cor-terciaria-contraste: #1ab91f;
$cor-branco: #fff;
$cor-preto: #303030;
$cor-preto-contraste: #171717;

$btn-min-width: 100px;

$colorless-mana: #E3D9D0;
$white-mana: $cor-branco;
$blue-mana: #436CD2;
$black-mana: #6F6969;
$red-mana: #F54033;
$green-mana: #3fbd44;
$mult-color-mana: #e0b752;





