@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import "_variaveis.scss";

html, body {
    background: $cor-preto-contraste !important;
    margin: 0;
    height: 100%;
    font-family: 'Roboto',sans-serif !important;
    color: $cor-branco !important;
}

.page-container {
    min-height: 100vh;
    position: relative;
}

.content-box {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: $cor-preto;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

.bg-preto {
    background-color: $cor-preto;
}

.btn-primary {
    background-color: $cor-primaria;
    color: $cor-branco !important;
    min-width: $btn-min-width;

    &:hover {
        background-color: $cor-primaria-contraste;
    }
}

.btn-secondary {
    background-color: $cor-secundaria;
    color: $cor-branco !important;
    min-width: $btn-min-width;

    &:hover {
        background-color: $cor-secundaria-contraste;
    }
}

.btn-tertiary {
    background-color: $cor-terciaria;
    color: $cor-branco !important;
    min-width: $btn-min-width;

    &:hover {
        background-color: $cor-terciaria-contraste;
    }
}
.validation-message{
    color: $cor-secundaria-contraste;
    font-size: 10px;
}
