$cor-primaria: #5173CB;
$cor-primaria-contraste: #2254d1;
$cor-secundaria: #F36B61;
$cor-secundaria-contraste: #f72b1c;
$cor-terciaria: #65B868;
$cor-terciaria-contraste: #1ab91f;
$cor-branco: #FFFFFF;
$cor-preto: #212121;
$cor-preto-contraste: #000;

$btn-border-radius: 40px;
$btn-min-width: 100px;


