@import "../Styles/_variaveis.scss";


.color-identity {
    position: absolute;
    width: 100%;
    top: 0;
    transform: translateY(-50%);
    text-align: center;
    z-index: 10;

    .mana-symbol {
        margin: 2px;
        width: 5%;
        min-width: 25px;
        display: inline-block;
    }
}

.card {
    background-color: $cor-preto;

    .acoes {
        width: 100%;

        .btn-editar{
            float: left;
        }

        .btn-acoes {
            float: right;
            background: none;
            border: none;
            color: $cor-branco;
            font-size: 20px;
            margin: 0;
            padding: 0;
        }

        .btn-erro {
            color: red;
            float: left;
            font-size: 25px;
            margin-left: 10px;
            background: none;
            border: none;
        }
    }
}

.error-validation {
    box-shadow: 0 0 5px 1px $cor-secundaria;

    .card-img-top {
        filter: brightness(0.25) opacity(0.75);
    }
}

.error-list{
    color: $cor-secundaria;
}
